<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script src="/js/echarts.min.js" type="application/javascript"></script>
    <script src="/js/common.js" type="application/javascript"></script>
</head>
<body>
<div th:fragment="crawl">
    <div class="crawl">
        <form action="#">
            <table class="form-group">
                <tr>
                    <td>数据爬取目标：</td>
                    <td>
                        <select class="form-control form-control-sm">
                            <option>京东</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>爬取评论条数：</td>
                    <td>
                        <input class="form-control form-control-sm" type="text" placeholder="请输入10的倍数">
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-light start">开始爬取</button>
        </form>
    </div>
</div>
<div th:fragment="dispose">
    <form action="#">
        <table class="form-group">
            <tr>
                <td>数据爬取目标：</td>
                <td>
                    <select class="form-control form-control-sm">
                        <option>京东</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>爬取评论条数：</td>
                <td>
                    <input class="form-control form-control-sm" type="text" placeholder="请输入10的倍数">
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-light start">开始爬取</button>
    </form>
</div>
<div th:fragment="analysis">
    <div class="analysis">
        <div>
            <div class="form-group">
                <label class="h5" for="analysis_text">请输入待分析的文本内容：</label>
                <textarea class="form-control" id="analysis_text" rows="3"></textarea>
            </div>
            <button id="btn_analysis" class="btn btn-light start">分析</button>
        </div>
        <div class="collapse" id="analysis_result_div">
            <div class="mt-4">
                <div class="h5">分析结果：</div>
                <div class="result ml-5">
                    情感倾向结论：<b id="analysis_result">好评</b>
                </div>
                <div id="pieChart" class="ml-5"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>